button.m-t-20{
 margin-top: 10px;
}
div.m-t-20{
    margin-top: 10px;
   }
button.m-l-20{
 margin-left: 10px;
}
.text-Align{
  text-align: center;  
}
button.delete-icon{
  color: #ef5c5c;
}
ul.MuiList-padding {
  padding-top: 28px;
 
}